<%-include("./partials/header") %>
<div class="container">
    <h1 class="page-header1">About</h1>
    <br /><br />
    <h2 class="intro">I am a self taught web developer who enjoys building fast servers for beautiful and responsive websites with NodeJS. I love the MERN stack and aspire to master all of it. I am currently proficient in ExpressJS. I know React but tend to write most of my projects in Vanilla JS.</h2>
</div>

<script>
    const active=document.querySelector('a[href="/about"]')
    active.className += " active"
</script>
<%-include("./partials/footer") %>