<%-include("./partials/header") %>
<div class="container">
    <h1 class="page-header1">About</h1>
    <div class="about">
    <p>
        I am a 22 year old self taught web developer &#128187; who enjoys building fast servers for beautiful and responsive websites with NodeJS. I love the MERN stack and aspire to master all of it. I am currently proficient in ExpressJS. I know React but tend to write most of my projects in Vanilla JS.<br />
    </p>
    <p>
        I just finished my BSc programme in Electrical/Electronics Engineering in the University of Lagos where I taught myself to code while also engaging in curricular activities.

    </p>
    <p>
        My tech stack is displayed below <br />
    </p> 
    <div class="stack">
        <code>
            <a href="https://en.wikipedia.org/wiki/HTML" target="_blank">HTML</a><br />
        </code>
        <code>
            <a href="https://en.wikipedia.org/wiki/CSS" target="_blank">CSS</a><br />
        </code>
        <code>
            <a href="https://en.wikipedia.org/wiki/JavaScript" target="_blank">Javascript</a> <br />
        </code>
        <code>
            <a target="_blank" href="https://nodejs.dev/">NodeJS</a> <br />
        </code>
        <code>
            <a href="https://expressjs.com/" target="_blank">ExpressJS</a> <br />
        </code>
        <code>
             <a href="https://www.mongodb.com/" target="_blank">MongoDB</a> <br />
        </code>
        <code>
            <a href="https://www.postgresql.org/" target="_blank">PostgreSQL</a> <br />
       </code>
       <code>
        <a href="https://sequelize.org/" target="_blank">Sequelize</a> <br />
   </code>
        <code>
            <a href="https://pptr.dev/" target="_blank">Puppeteer</a> <br />
       </code>
        <code>
        <a href="https://www.typescriptlang.org/" target="_blank">TypeScript</a> <br />
        </code>
        <code>
            <a href="https://reactjs.org/" target="_blank">ReactJS</a> <br />
        </code>
        <code>
           <a href="https://www.python.org/" target="_blank">Python(I learned some Data Science)</a><br />
        </code>

    </div >   
        <br />
    </p>
    <p>I love football&#9917;, support FC Barcelona<img width="30px" height="20px" src="/barca logo.png"> and believe in the Lionel Messi supremacy&#128016;.</p>
    <p>I have worked on a few personal projects. You can see them in my <a href="/portfolio">Portfolio</a></p>
    </div>
</div>

<script>
    const active=document.querySelector('a[href="/about"]')
    active.className += " active"
</script>
<br/>
<%-include("./partials/footer") %>