<%-include("./partials/header") %>
<div class="container">
    <h1 class="page-header1">ERROR</h1>
    <h3 class="intro">The Resource you tried to access does not exist.<br /><br /> Go to <a href="/portfolio">Portfolio</a> or read <a href="/about">About me</a></h2>
</div>
<%-include("./partials/footer") %>