<%-include("./partials/header")  %> 
<div class="container">
        <h1 class="page-header1">Intro</h1>
        <br/><br/>
        <h3 class="intro">Hi. I am Akinboboye Akinwande and I am a web developer. I have built a few projects. Check them out below.<br/><br/> Go to <a href="/portfolio">Portfolio</a> or read <a href="/about">About me</a></h2>

</div> 
<script>
    const active=document.querySelector('a[href="/intro"]')
    active.className += " active"
</script>       


