body {
  background: rgb(213, 204, 210);
  text-align: justify;
  min-height: 100vh;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.profilepic{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.profilepic img{
  width: 145px;
  height: 145px;
  border-radius: 50%;
}
ul {
  display: block;
}

.projectlist {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
  justify-content: flex-start;
  align-items: flex-start;
}

.container {
  margin-left: 5%;
  margin-right: 5%;
}

.project {
  height: 300px;
  margin: 0.7em;
  width: 30%;
  text-align: justify;
  transition: 200ms ease-in-out;
}

.project:hover {
  height: 350px;
  margin-bottom: 2em;
  width: 32%;
  text-align: justify;
}

.project-image {
  width: 98.3%;
  height: 60%;
  border-style: solid;
  border-color: rgb(100, 100, 100);
  border-bottom: none;
  margin-bottom: 0;
  border-radius: 10px 10px 0px 0px;
}

.project a {
  text-decoration: none;
  color: rgb(250, 250, 250);
}

.project-name {
  font-weight: bolder;
  padding-left: 1em;
  margin-bottom: 0.3em;
  margin-top: 0em;
}

.project-label {
  background-color: rgb(50, 50, 50);
  margin-top: 0;
  padding-top: 0;
  border-right: rgb(50, 50, 50);
  width: 100%;
  text-align: justify;
  border-radius: 0px 0px 10px 10px;
}

.project-gitlink {
  font-weight: normal;
  padding-right: 1em;
  padding-left: 1em;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
}

.project-description {
  background-color: rgb(256, 256, 256);
  text-align: justify;
  padding-right: 1em;
  padding-left: 1em;
  margin-top: 0;
  padding-top: 0;
  font-size: small;
  border-radius: 25px;
}

@media screen and (min-width: 768px) {
  .project-hidden {
    display: none;
    transition: display ease-in-out 2s;
  }

  .project-shown:hover + div {
    display: block;
  }
  .profilepic img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }
}

.page-header1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 2em;
  color: rgb(50, 50, 51);
}

.page-header2 {
  text-align: center;
  font-family: sans-serif;
  font-size: 1.5em;
  margin-bottom: 1em;
  color: rgb(100, 100, 100);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.error {
  color: red;
}

.project-deletebutton {
  background-color: red;
  margin-left: 1em;
}

.success {
  color: rgb(49, 242, 39);
}

.navbar {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: rgb(173, 183, 204);
  font-size: 1.5em;
  margin-left: 5%;
  margin-right: 5%;
}

.navbar-item {
  margin: 1em;
  text-decoration: none;
}

.navbar-item:hover {
  background-color: rgb(86.5, 91.5, 102);
}

a {
  text-decoration: none;
  color: rgb(55.5, 17, 76);
}

a :hover {
  color: rgb(155.5, 117, 176);
}

.form {
  width: 50%;
  margin-left: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

input {
  height: 3.5em;
  border-radius: 10px;
  border-color: rgb(173, 183, 204);
  transition: 100ms ease-in-out;
}

input:hover {
  height: 4em;
}

input:focus {
  height: 4em;
}

input[type="submit"] {
  background-color: rgb(173, 183, 204);
  font-size: 1.15em;
  transition: background-color 100ms ease-in-out;
  transition: height 100ms ease-in-out;
}

input[type="password"] {
  background-color: rgb(253, 254, 240);
  color: rgb(100, 100, 100);
  font-size: 1.15em;
}

input[type="submit"]:hover {
  background-color: rgb(113, 133, 154);
  height: 4em;
}

.intro {
  text-align: center;
  font-size: 1.15em;
}

.intro a {
  color: rgb(256, 256, 256);
  background-color: rgb(50, 50, 50);
  transition: 100ms ease-in-out;
}

.intro a:hover {
  background-color: rgb(200, 50, 50);
  font-size: 1.5em;
}

.about {
  text-align: justify;
  font-family: sans-serif;
  font-size: 1.15em;
}
.stack {
  background: rgb(200, 200, 200);
  text-align: center;
  padding: 1em;
}

.stack code {
  background-color: rgb(50, 50, 50);
  font-size: 1.5em;
}

.stack code a {
  color: rgb(256, 256, 256);
  transition: font-size 100ms ease-in-out;
}

.stack code:hover {
  background-color: rgb(200, 50, 50);
  font-size: 2em;
}

.topnav {
  background-color: #333;
  overflow: hidden;
  border-radius: 10px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: 100ms ease-in-out;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  font-size: 1.5em;
}

.topnav a.active {
  background-color: rgb(90, 125, 242);
  color: white;
}

.topnav .icon {
  display: none;
}

.deleteinput {
  display: flex;
  width: 50%;
  align-content: center;
  justify-content: center;
  margin-left: 25%;
}

textarea {
  height: 7em;
  border-radius: 10px;
  border-color: rgb(173, 183, 204);
  transition: 100ms ease-in-out;
}

textarea:hover {
  height: 9em;
}

textarea:focus {
  height: 9em;
}

.message {
  background: rgb(210, 210, 222);
  border-radius: 10px;
}
.message-sender {
  text-align: right;
  margin-bottom: 0;
}
.sender-email {
  text-align: right;
  margin-bottom: 0;
  margin-top: 0;
}

.date-sent {
  text-align: right;
  margin-top: 0;
}

.social-icons {
  display: flex;
  margin-bottom: 1em;
  height: 2em;
  justify-content: center;
  align-items: stretch;
}

.contact-icon {
  width: 2em;
  height: 2em;
  transition: 100ms ease-in-out;
}

.contact-icon:hover {
  width: 3em;
  height: 3em;
}

@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
  }
  .topnav a.icon {
    display: block;
  }
  .topnav {
    background-color: #333;
    overflow: hidden;
  }

  .topnav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0.2em 0.2em;
    text-decoration: none;
    font-size: 17px;
  }
  .projectlist {
    display: block;

    margin-bottom: 2em;
  }
  .project {
    margin-bottom: 2em;
    width: 100%;
    text-align: justify;
  }

  .project:hover {
    width: 1.15em;
    height: 1.15em;
  }

  .form {
    width: 70%;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}
